@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black; 
    text-align: center;
    padding: 5%;
}

header h1 {
    color: white;
    font-family: "Passion One", sans-serif;
    font-size: 3em;
}

header p {
    color: white;
}

header p>a {
    text-decoration: none;
    color: white;
    font-family: "Passion One", sans-serif;
    font-size: 1.3em;
}

header p>a:hover {
    color: rgb(148, 146, 146);
}

pre {
    font-family: "Sriracha", cursive;
    width: 400px;
    font-size: 1.7em;

}

.branco>pre {
    padding: 100px 10px;
}

div#img1 {
    background-image: url(imagens/background001.jpg);
}

div#img2 {
    background-image: url(imagens/background002.jpg);
}

div.images {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

div.images>pre {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    top: 18%;
    left: 10px;
    padding: 30px 0px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}